@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");

:root {
  --black: #1a1a1a;
  --white: #e6e6e6;
  --accent: #e0ff4f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--black);
}

body {
  background-color: var(--white);
}

main {
  max-width: 30rem;
  margin: 0 auto;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  padding-top: 7rem;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding-top: 1rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-top: 1rem;
}

footer {
  max-width: 30rem;
  margin: 0 auto;
}

footer img {
  margin-top: 2rem;
  margin-right: 2rem;
  max-width: 60px;
}
