@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");

:root {
  --black: #1a1a1a;
  --white: #e6e6e6;
  --accent: #7fff00;
}

* {
  text-align: center;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
}

body {
  background-color: var(--black);
}

/* PRELOADER  */

.preloader {
  position: relative;
  background: var(--black) url(assets/preloader.svg) no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s;
}

.preloader-fade {
  opacity: 0;
}

/* HEADER */

header nav {
  margin-top: 1rem;
  padding: 1rem;
  margin: 0 auto;
  max-width: 30rem;
  text-align: center;
  padding: 2rem;
  margin-top: 1rem;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

a {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  padding-top: 1rem;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  transition: 1s;
}

main {
  max-width: 30rem;
  margin: 0 auto;
}

#about {
  margin-top: 1rem;
  padding: 1rem;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  padding-top: 1rem;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  padding-top: 1rem;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding-top: 1rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-top: 1rem;
}

span {
  color: var(--accent);
}

#projects {
  margin-top: 1rem;
  padding: 1rem;
}

#projects div {
  margin: 1rem;
  padding: 1rem;
}

#resume {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

footer {
  margin-top: 1rem;
  padding: 1rem;
  max-width: 30rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

footer img {
  margin-right: 1rem;
  margin-left: 1rem;
  max-width: 50px;
  filter: invert(1);
}

footer img:hover {
  filter: invert(0.9);
}

@media screen and (max-width: 800px) {
  main {
    max-width: 30rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
  }

  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  footer {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
